.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .switch-mode {
        position: fixed;
        top: calc(64px + 1rem);
        right: 1rem;
        min-width: 180px;
    }
}