* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --white: #FFF;
  --red: #EE0033;
  --navy-blue: #05445E;
  --blue-grotto: #189AB4;
  --blue-green: #75E6DA;
  --blue-green: #75E6DA;
  --baby-blue: #D4F1F4;
  --bg-linear: linear-gradient(260deg, var(--baby-blue) 0%, var(--blue-grotto) 100%);
  --font-inter: 'Inter', sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--navy-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}